/* CUSTOM PROPERTIES/VARIABLE */
:root {
    --main-font-color: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --light-blue: #4556be;
    --main-gray: #303841;
}

/* BASE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE RESET END */

html {
    scroll-behavior: smooth;
}

/* BASE STYLE */
body {
    font-family: 'poppings', sans-serif;
    font-size: 10vw;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-font-color);
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: var(--main-font-color)
}

/* NAV START*/
#navbar {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  /* NAV LOGO */
  #logo {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 32px;
    font-weight: 700;
    padding: 5px;
    margin-left: 10px;
  }

  .trading  {
    color: red;
    text-shadow: 2px 2px 4px #000, -1px -1px 4px #000;
    font-weight: 700;
  }

  .experience  {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: var(--main-font-color);
    background-color: #000;
    text-shadow: 2px 2px 2px var(--main-gray), -1px -1px 2px var(--main-gray);
    font-weight: 400;
    font-size: 20px;
    padding: 0 5px 5px;
    margin-left: 10px;
    border-radius: 6px;
    height: 30px;
  }

 #tab-bar {
    width: 75%;
    display: flex;
    justify-content: flex-end;
 }

 .tab-list {
    display: flex;
    align-items: center;
    gap: 50px;
    color: var(--main-font-color);
    font-size: 22px;
    margin-right: 20px;
 }


 .tab-list a {
    display: block; /* MAKING THE LINK TAKE UP MAX SPACE SO OUR HOVER BG LOOKS NICE */
    padding: 15px 5px; 
}

 /* MAKING THE LINK TAKE UP MAX SPACE SO OUR HOVER BG LOOKS NICE */
 .tab-list #profile-link:hover {
        background: var(--main-blue);
 }
/* NAV END */

 /* WELCOME SECTION */
 #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #3a3d40 0%, #181719 100%); }

 #welcome-section h1 {
    font-size: 4vw;
 }

 #welcome-section > p {
    font-size: 2vw;
    color: var(--light-blue);
    font-style: italic;
 }

.my-name {
    color: var(--main-red);
 }