/* CUSTOM PROPERTIES/VARIABLE */
:root {
    --main-font-color: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --light-blue: #4556be;
    --main-gray: #303841;
}

/* BASE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE RESET END */

html {
    scroll-behavior: smooth;
}

/* BASE STYLE */
body {
    font-family: 'poppings', sans-serif;
    font-size: 10vw;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-font-color);
    
}


ul {
    list-style: none
}

a {
    text-decoration: none;
    color: var(--main-font-color)
}

/* NAV START*/
#navbar {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  /* NAV LOGO */
  #logo {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: 32px;
    font-weight: 700;
    padding: 5px;
    margin-left: 10px;
  }

  .trading  {
    color: red;
    text-shadow: 2px 2px 4px #000, -1px -1px 4px #000;
    font-weight: 700;
  }

  .experience  {
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: var(--main-font-color);
    background-color: #000;
    text-shadow: 2px 2px 2px var(--main-gray), -1px -1px 2px var(--main-gray);
    font-weight: 400;
    font-size: 20px;
    padding: 0 5px 5px;
    margin-left: 10px;
    border-radius: 6px;
    height: 30px;
  }

 #tab-bar {
    width: 75%;
    display: flex;
    justify-content: flex-end;
 }

 .tab-list {
    display: flex;
    align-items: center;
    gap: 50px;
    color: var(--main-font-color);
    font-size: 22px;
    margin-right: 20px;
 }


 .tab-list a {
    display: block; /* MAKING THE LINK TAKE UP MAX SPACE SO OUR HOVER BG LOOKS NICE */
    padding: 15px 5px; 
}

 /* MAKING THE LINK TAKE UP MAX SPACE SO OUR HOVER BG LOOKS NICE */
 .tab-list .tab-links:hover {
        background: var(--main-blue);
 }

 /* TABLET SCREEN RESPONSIVENESS */
 @media screen and (max-width:650px) {
  #navbar {
    flex-direction: column;
    align-items: center;
    background-color: var(--light-blue);
  }

  #logo {
    width: 50%;
    margin: auto;
  }

  #tab-bar {
    width: 50%;
    border: 1px solid purple;
    margin-left: 50%;
  }

  .tab-list {
    margin-right: 10px;
    gap: 10px;
    border: 1px solid indianred;
  }

  .tab-list a {
    padding: 5px 5px;
  } 
 }

/* NAV END */

 /* WELCOME SECTION */
 #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #3a3d40 0%, #181719 100%); }

#welcome-section > h1 {
  font-size: 4vw;
}

 #welcome-section > p {
    font-size: 2vw;
    color: var(--main-red);
    font-style: italic;
    font-weight: 400;
 }

.my-name {
    color: var(--light-blue);
    text-shadow: 2px 2px 2px #000;
 }

 /* PROJECTS SECTION */
 #projects {
    text-align: center;
    background: var(--main-blue);
    padding: 50px 10px;
 }

 .projects-section-header {
    font-size: 3vw;
    border-bottom: 2.5px solid var(--main-font-color);
    margin: 0 25% 20px;
 }

 /* CREATING GRID LAYOUT FOR THE PROJECTS */
 .project-grid {
   display: grid;

   /* CREATING THE COLUMNS FOR OUR GRID WITH "repeat()" FUNCTION
   * BUT THIS TIME WE WON'T SPECIFY HOW MANY COLUMNS TO CREATE 
   * THE "auto-fit" creates COLUMNS AUTOMATICALLY TO SIZE THE POSSIBLE ITEM WIDTHS
   * "minmax(320px, 1fr)" SPECIFIES THE MIN AND MAX SIZE OF THE EACH COLUMN
   * WILL SET THE MIN COLUMN WIDTH TO BE 320PX AND MAX WIDTH TO BE 1fr
   * ANOTHER BENEFIT TO THIS "auto-fit" IS THAT IT REPONSIVELY ADJUSTS COLUMNS TO SCREEN SIZE */

   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   grid-gap: 50px;
   width: 100%;
   max-width: 1280px;
   margin: 0 auto;
 }

 /* SETTING UP THE INDIVIDUAL PROJECT TILE */
 .project {
   background: var(--main-gray);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
   border-radius: 2px;
 }

 /* MAKING THE PROJECT TITLE SAME BACKGROUND AS THE PROJECT TILE ABOVE
 * SO WE CAN ADD HOVER EFFECT AND INPUT A VISIBLE COLOR OF ORANGE */
 .code {
   color: var(--main-gray);
   transition: color 0.3s ease-out; /* THIS GIVES A SMOOTH EFFECT TO THE HOVER EFFECT */
 }
 
 .project:hover .code {
   color: #ff7f50;
 }

 /* SETTING UP THE PROJECT IMAGES 
 * ADJUSTING IMAGES ARE A BIT TRICKY
 * SETTING THE WIDTH TO 100% AND 
 * GIVING IT A SPECIFIED HEIGHT LIKELY TAKES UP WAY TOO MUCH SPACE
 * "object-fit" PROPERTY SET TO "cover" WILL MAKE THE IMAGE 
 * TAKE UP THE SIZE OF ITS CONTAINER WITHOUT INCREASING THE CONTAINER'S SIZE
 * "cover" VALUE KEEPS THE IMAGE RESOLUTION WHILE FILLING THE CONTAINER
 * SO FAR THIS HAS BEEN SOLVING THE IMAGE ADJUSTMENT ISSUES */
 .project-image {
   height: 300px;
   width: 100%;
   object-fit: cover;
 }

 .project-title {
   font-size: 25%;
   padding: 5px 2.5px;
 }

 .btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
 }

 .btn-show-all {
  font-size: 3vw;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

/* CONTACT SECTION */

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 90vh;
  background: var(--main-gray);
}

.contact-section-header > h1 {
  font-size: 4vw;
}

.contact-section-header > p {
  font-size: 2vw;
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 4vw;
  color: var(--main-red);
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: scale(1.2, 1.2);
}

/* FOOTER SECTION */

footer {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2vh;
  font-weight: 400px;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
  padding: 20px;
}